/* * {
    border: 2px solid red;
} */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    margin: 10vh;
    text-align: center;
}

button {
    background-color: purple;
    color: white;
    border-radius: 8px;
    padding: 5px;
}