* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

section {
    margin-top: 70px;
    padding: 20px;
}

section header {
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: space-around;
}

main section {
    border: 2px solid black;
    max-width: 800px;
    width: 80%;
    height: 400px;
}

#first-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}

#first-page h1 {

}

#first-page p {
    padding: 0 6%;
}

#first-page button {
    padding: 10px;
    color: white;
    background-color: blue;
}

#question-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#question, #scores {
    display: none;
}